venv/
__pycache__/
*.pyc
*.log
.env

captura_ipixel/
dados1_ipixel.zip
dados2_ipixel.zip
dex3/
ipixel-apk/
ipixel-ctrl/
ipixel-decomp/
ipixel-source/
jadx-1.5.6.zip
jadx/
log/
smali3/
seq.txt
enviartexto_minusculas.py
protocolo.py
